---
layout: archive
---

{{ content }}

<ul class="category-list">
  {% for post in site.posts %}
  {% if post.categories.size > 0 %}
      {% assign first_category = post.categories | first %}
      <li><a href="#{{ first_category | slugify }}">{{ first_category }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
